$color-white: #ffffff;
$color-black: #202020;
$color-darkgrey: #3d3d3d;
$color-grey: #474747;
$color-darkturquoise: #097e89;
$color-bg-nav: #ff8322;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$transition: 0.5s;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// === templates ===
// / === templates ===
