@mixin fontHelvetica() {
  font-family: "Helvetica", sans-serif;
}

@mixin borderRadius($number) {
  border-radius: $number;
  -webkit-border-radius: $number;
  -moz-border-radius: $number;
  -ms-border-radius: $number;
  -o-border-radius: $number;
}

@mixin transition($time) {
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
}
